@use '../base/variables' as vars;
@use '../base/app' as *;

html {
    background: vars.$linear-bg-color-start;
}

body {
    background: linear-gradient(to bottom right, vars.$linear-bg-color-start,  vars.$linear-bg-color-start, vars.$linear-bg-color-end);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swal2-popup {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.swal2-title {
    font-size: 24px;
    font-weight: 600;
}
.swal2-html-container {
    font-size: 14px;
}

div.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &.login-container
    {
        form
        {
            width: 384px;
        }
    }

    h1
    {
        background: linear-gradient(
            to right,
            vars.$linear-text-color-start 30%,
            vars.$linear-text-color-middle 60%,
            vars.$linear-text-color-end 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 36px;
        font-weight: bold;
        line-height: 40px;
        margin: 0;
        text-align: center;
        font-family: "Roboto", sans-serif;
        margin-bottom: 8px;
    }

    p {
        color: rgba(148, 163, 184, 1);
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        text-align: center;
        font-family: "Roboto", sans-serif;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 32px;
        width: 800px;
        max-width: 90%;

        .form-row {
            display: flex;
            flex-direction: row;
            gap: 24px;

            div.form-group
            {
                display: flex;
                flex-direction: column;
                align-items: normal;
                width: 100%;

                label {
                    color: rgba(248, 250, 252, 1);
                    font-size: 14px;
                    line-height: 14px;
                    margin: 0;
                    font-family: "Roboto", sans-serif;
                    margin-bottom: 12px;
                    width: 100%;
                }

                input {
                    font-size: 14px;
                    padding: 10px 13px;
                    width: 100%;
                    border-radius: 14px;
                    border: 1px solid rgba(34, 47, 68, 1);
                    color: rgba(248, 250, 252, 1);
                    background: vars.$linear-bg-color-start;
                    box-sizing: border-box;
                }

                span
                {
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0;
                    font-family: "Roboto", sans-serif;
                    margin-bottom: 12px;
                    width: 100%;

                    &.error
                    {
                        color: #842029;
                    }

                    &.success
                    {
                        color: #0f5132;
                    }

                    &.warning
                    {
                        color: #664d03;
                    }

                    &.password-level
                    {
                        margin-top: 4px;
                    }
                }

                div.input
                {
                    position: relative;

                    svg
                    {
                        position: absolute;
                        right: 13px;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        color: rgba(148, 163, 184, 1);

                        &.hidden
                        {
                            display: none;
                        }
                    }
                }

                img.profil-picture-preview
                {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    border-radius: 50%;

                    &.hidden
                    {
                        display: none;
                    }
                }
            }

            &.center
            {
                img
                {
                    align-self: center;
                }

                label,
                span
                {
                    text-align: center;
                }
            }
        }

        button {
            background: linear-gradient(
                90deg,
                vars.$linear-text-color-start,
                vars.$linear-text-color-middle,
            );
            border-radius: 14px;
            color: rgba(248, 250, 252, 1);
            font-size: 14px;
            line-height: 20px;
            padding: 10px;
            width: 100%;
            border: none;
            box-sizing: border-box;
            align-self: center;
            opacity: 0.6;


            &:hover
            {
                opacity: 1;
                transition-duration: 1s;
            }
        }
    }

    a
    {
        color: rgba(7, 182, 213, 1);
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        font-family: "Roboto", sans-serif;
        text-decoration: none;

        &:hover
        {
            text-decoration: underline;
        }
    }

    section.rgpd-accept
    {
        align-self: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;

        label
        {
            color: rgba(248, 250, 252, 1);
            font-size: 14px;
            line-height: 20px;
            margin: 0;
            font-family: "Roboto", sans-serif;
        }

        input[type="checkbox"]
        {
            width: 16px;
            height: 16px;
        }
    }
}

div.rgpd
{
    position: fixed;
    bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;

    a
    {
        color: rgba(7, 182, 213, 1);
        font-size: 14px;
        line-height: 20px;
        margin: 0;
        font-family: "Roboto", sans-serif;
        text-decoration: none;

        &:hover
        {
            text-decoration: underline;
        }
    }
}

// RGPD
div.container.rgpd
{
    position: absolute;
    top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 80vw;
    height: fit-content;

    h2
    {
        color: rgba(248, 250, 252, 1);
        font-size: 36px;
        font-weight: bold;
        line-height: 40px;
        margin: 0;
        font-family: "Roboto", sans-serif;
        margin-bottom: 8px;
        width: 100%;
        text-wrap: wrap;
    }

    pre
    {
        color: rgba(148, 163, 184, 1);
        font-size: 16px;
        line-height: 24px;
        margin: 0;
        font-family: "Roboto", sans-serif;
        width: 100%;
        text-wrap: wrap;
    }

    a {
        color: rgba(248, 250, 252, 1);
        font-size: 16px;
        line-height: 24px;
        width: fit-content;
        text-wrap: wrap;

        &:hover
        {
            text-decoration: none;
            color: rgba(7, 182, 213, 1);
        }
    }
}