@use '../../../base/variables' as vars;
@use '../../../base/app' as *;

.modal
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;

    &.active
    {
        display: block;
    }

    div.box
    {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 425px;
        height: fit-content;
        max-width: 90%;
        background: rgba(15, 23, 41, 1);
        border: solid 1px rgb(34, 47, 68);
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        border-radius: 16px;
        padding: 32px;
        box-sizing: border-box;

        header
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            h2
            {
                color: rgba(248, 250, 252, 1);
                font-size: 26px;
                line-height: 20px;
                margin: 0;
                font-family: "Roboto", sans-serif;
                align-self: start;
            }

            button
            {
                background: transparent;
                border: none;
                color: rgba(248, 250, 252, 1);

                svg
                {
                    width: 20px;
                    height: 20px;
                    fill: rgba(248, 250, 252, 1);
                }
            }
        }

        form
        {
            display: flex;
            flex-direction: column;
            align-items: normal;
            width: 100%;
            gap: 24px;

            div.form-group
            {
                display: flex;
                flex-direction: column;
                align-items: normal;
                width: 100%;
                gap: 12px;

                label
                {
                    color: rgb(248, 250, 252);
                    font-size: 14px;
                    line-height: 14px;
                    margin: 0;
                    font-family: "Roboto", sans-serif;
                    width: 100%;
                    font-weight: bold;
                }

                input
                {
                    font-size: 14px;
                    padding: 10px 13px;
                    width: 100%;
                    border-radius: 14px;
                    border: 1px solid rgba(34, 47, 68, 1);
                    color: #222;
                    background: #eee;
                    box-sizing: border-box;
                }

                span
                {
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0;
                    font-family: "Roboto", sans-serif;
                    width: 100%;

                    &.error
                    {
                        color: #842029;
                    }

                    &.success
                    {
                        color: #0f5132;
                    }

                    &.warning
                    {
                        color: #664d03;
                    }

                    &.hidden
                    {
                        display: none;
                    }
                }
            }

            button
            {
                background: linear-gradient(
                    90deg,
                    vars.$linear-text-color-start,
                    vars.$linear-text-color-middle,
                );
                border-radius: 14px;
                color: rgba(248, 250, 252, 1);
                font-size: 14px;
                line-height: 20px;
                padding: 10px;
                width: 100%;
                border: none;
                box-sizing: border-box;
                align-self: center;
                opacity: 1;
            }
        }

        button.delete
        {
            background: rgba(231, 76, 60, 1);
            border-radius: 14px;
            color: rgba(248, 250, 252, 1);
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            line-height: 20px;
            padding: 10px;
            width: 100%;
            border: none;
            box-sizing: border-box;
            align-self: center;
            opacity: 1;
        }

        section.listFriendRequest
        {
            display: flex;
            flex-direction: column;
            align-items: normal;
            width: 100%;
            gap: 24px;

            div.users
            {
                display: flex;
                flex-direction: column;
                align-items: normal;
                width: 100%;
                gap: 12px;

                p
                {
                    color: rgba(148, 163, 184, 1);
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0;
                    font-family: "Roboto", sans-serif;
                }

                div.user
                {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    gap: 12px;

                    div.picture
                    {
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 12px;

                        img
                        {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    p
                    {
                        color: rgba(148, 163, 184, 1);
                        font-size: 14px;
                        line-height: 20px;
                        margin: 0;
                        font-family: "Roboto", sans-serif;
                        width: 100%;
                    }

                    button
                    {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        background: transparent;
                        border: none;
                        color: rgba(248, 250, 252, 1);

                        svg
                        {
                            width: 24px;
                            height: 24px;
                        }

                        &.accept
                        {
                            color: rgba(40, 167, 69, 1);
                        }

                        &.reject
                        {
                            color: rgba(231, 76, 60, 1);
                        }
                    }
                }
            }
        }
    }
}