$linear-text-color-start: rgba(7, 182, 213, 1);
$linear-text-color-middle: rgba(146, 52, 234, 1);
$linear-text-color-end: rgba(249, 78, 180, 1);

$linear-bg-color-start: rgba(15, 23, 41, 1);
$linear-bg-color-end: rgba(7, 182, 213, 0.05);