@use '../../base/variables' as vars;
@use '../../base/app' as *;

html {
    background: vars.$linear-bg-color-start;
    height: 100vh;
    width: 100vw;
}

body {
    background: rgba(15, 23, 41, 1);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swal2-popup {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.swal2-title {
    font-size: 24px;
    font-weight: 600;
}
.swal2-html-container {
    font-size: 14px;
}

nav
{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 256px;
    height: 100vh;
    background: rgba(19, 29, 52, 0.5);
    border-right: solid 1px rgba(34, 47, 68, 1);

    header
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 64px;
        padding: 16px;
        border-bottom: solid 1px rgba(34, 47, 68, 1);
        box-sizing: border-box;

        a
        {
            background: linear-gradient(
                to right,
                vars.$linear-text-color-start,
                vars.$linear-text-color-middle,
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            color: rgba(248, 250, 252, 1);
            font-size: 24px;
            line-height: 32px;
            font-weight: bold;
            margin: 0;
            font-family: "Roboto", sans-serif;
            text-decoration: none;
        }

        div.friendRequest
        {
            position: relative;
            margin-left: auto;
            cursor: pointer;

            span#friendRequestCounter
            {
                position: absolute;
                top: -12px;
                right: 20px;
                background: rgba(7, 182, 213, .4);
                color: rgba(255, 255, 255, 1);
                font-size: 12px;
                line-height: 16px;
                font-weight: bold;
                padding: 2px 6px;
                border-radius: 12px;
                font-family: "Roboto", sans-serif;

                &.hidden
                {
                    display: none;
                }
            }

            svg
            {
                width: 24px;
                height: 24px;
                color: rgba(7, 182, 213, 1);
                margin-left: auto;
            }
        }
    }

    main
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        width: 100%;
        height: calc(100vh - 64px);
        overflow-y: auto;

        .channels
        {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            width: 100%;

            .head
            {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 12px;
                width: 100%;
                height: 48px;
                padding: 16px;
                box-sizing: border-box;

                h2
                {
                    color: rgba(148, 163, 184, 1);
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0;
                    font-family: "Roboto", sans-serif;
                    text-decoration: none;
                }

                button
                {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    background: transparent;
                    border: none;
                    color: rgba(248, 250, 252, 1);
                    padding: 8px;
                    border-radius: 16px;

                    svg
                    {
                        width: 20px;
                        height: 20px;
                        fill: rgba(248, 250, 252, 1);
                    }

                    &:hover
                    {
                        background: rgba(249, 78, 180, 0.1);
                        color: rgba(249, 78, 180, 1);
                    }
                }
            }

            div.links
            {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 4px;
                width: 100%;
                box-sizing: border-box;
                height: 100%;
                list-style: none;
                padding: 0 16px;

                .picture
                {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 12px;

                    img
                    {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .connected
                    {
                        position: absolute;
                        top: 39px;
                        left: 39px;
                        z-index: 1;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        transform: translate(-100%, -100%);
                        border: solid 2px rgba(15, 23, 41, 1);

                        &.online
                        {
                            background: rgba(34, 197, 94, 1);
                        }

                        &.absent
                        {
                            background: rgba(234, 179, 8, 1);
                        }

                        &.offline
                        {
                            background: rgba(107, 114, 128, 1);
                        }
                    }
                }

                a.link
                {
                    display: flex;
                    flex-direction: row;
                    align-self: start;
                    gap: 12px;
                    align-items: center;
                    color: rgba(148, 163, 184, 1);
                    margin: 0;
                    border-radius: 16px;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 8px 12px;
                    text-decoration: none;

                    &:hover
                    {
                        background: rgba(249, 78, 180, 0.1);
                        color: rgba(248, 250, 252, 1);
                    }

                    p
                    {
                        font-family: "Roboto", sans-serif;
                        margin: 0;
                        font-size: 14px;
                        line-height: 20px;
                    }

                    svg
                    {
                        width: 16px;
                        height: 16px;
                    }

                    &.active
                    {
                        background: rgba(7, 182, 213, 0.2);
                        color: rgba(7, 182, 213, 1);
                    }

                    span.message-counter {
                        margin-left: auto;
                        background: rgba(7, 182, 213, 0.2);
                        color: rgba(7, 182, 213, 1);
                        font-size: 12px;
                        line-height: 16px;
                        font-weight: bold;
                        padding: 2px 6px;
                        border-radius: 12px;
                        font-family: "Roboto", sans-serif;

                        &.hidden {
                            display: none;
                        }
                    }
                }

                div.param
                {
                    margin-left: auto;

                    button
                    {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        background: transparent;
                        border: none;
                        color: rgba(148, 163, 184, 1);
                        padding: 8px;

                        svg
                        {
                            width: 16px;
                            height: 16px;
                        }

                        &:hover
                        {
                            color: rgba(7, 182, 213, 1);
                        }
                    }
                }
            }
        }
    }

    footer
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
        width: 100%;
        height: 74px;
        padding: 16px;
        border-top: solid 1px rgba(34, 47, 68, 1);
        box-sizing: border-box;

        .picture
        {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;

            img
            {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            .connected
            {
                position: absolute;
                top: 39px;
                left: 39px;
                z-index: 1;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: rgba(34, 197, 94, 1);
                transform: translate(-100%, -100%);
                border: solid 2px rgba(15, 23, 41, 1);
            }
        }

        .name
        {
            display: flex;
            flex-direction: column;
            gap: 0px;

            h2
            {
                color: rgba(248, 250, 252, 1);
                font-size: 14px;
                line-height: 20px;
                margin: 0;
                font-family: "Roboto", sans-serif;
                text-decoration: none;
            }

            p
            {
                color: rgba(148, 163, 184, 1);
                font-size: 12px;
                line-height: 16px;
                margin: 0;
                font-family: "Roboto", sans-serif;
                text-decoration: none;
            }
        }

        .logout
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-left: auto;

            a
            {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background: transparent;
                border: none;
                color: rgba(248, 250, 252, 1);
                padding: 8px;

                svg
                {
                    width: 20px;
                    height: 20px;
                }

                &:hover
                {
                    color: rgba(7, 182, 213, 1);
                }
            }

            form
            {
                button
                {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    background: transparent;
                    border: none;
                    color: rgba(248, 250, 252, 1);
                    padding: 8px;

                    svg
                    {
                        width: 20px;
                        height: 20px;
                    }

                    &:hover
                    {
                        color: rgba(249, 78, 180, 1);
                    }
                }
            }
        }
    }
}

.container
{
    position: absolute;
    left: 256px;
    width: calc(100vw - 256px);
    height: 100vh;
    display: flex;
    flex-direction: column;

    header
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        width: 100%;
        height: 64px;
        padding: 16px 25px;
        border-bottom: solid 1px rgba(34, 47, 68, 1);
        box-sizing: border-box;

        div.left
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            width: fit-content;
            height: 100%;

            div.hashtag
            {
                svg
                {
                    width: 20px;
                    height: 20px;
                    color: rgba(7, 182, 213, 1);
                    padding: 10px;
                    border-radius: 50%;
                    background: rgba(7, 182, 213, 0.2);
                }
            }

            div.title
            {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 0px;

                p.title
                {
                    color: rgba(248, 250, 252, 1);
                    font-size: 18px;
                    line-height: 28px;
                    margin: 0;
                    font-family: "Roboto", sans-serif;
                }

                div.members
                {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 4px;

                    svg
                    {
                        width: 12px;
                        height: 12px;
                        color: rgba(148, 163, 184, 1);
                    }

                    p.members
                    {
                        color: rgba(148, 163, 184, 1);
                        font-size: 12px;
                        line-height: 16px;
                        margin: 0;
                        font-family: "Roboto", sans-serif;
                    }
                }
            }
        }

        div.right
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            width: fit-content;
            height: 100%;
            margin-right: 10px;

            button
            {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 12px;
                background: none;
                border: none;
                padding: 12px;
                border-radius: 50px;

                svg
                {
                    width: 16px;
                    height: 16px;
                    color: rgba(248, 250, 252, 1);
                }

                &:hover
                {
                    background: rgba(249, 78, 180, 0.1);
                    
                    svg
                    {
                        color: rgba(249, 78, 180, 1);
                    }
                }
            }
        }
    }

    main
    {
        overflow: hidden;
        scrollbar-width: none;
        height: 100%;
        width: 100%;
        max-width: 896px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        box-sizing: border-box;

        div.chat-box
        {
            overflow-y: scroll;
            scrollbar-width: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            width: 100%;
            height: 100%;
            padding: 24px 0;
            box-sizing: border-box;

            div.chat-box-message
            {
                display: flex;
                flex-direction: row;
                align-items: start;
                gap: 12px;

                &:hover
                {
                    transform: translateY(-3px);
                    transition-duration: .5s;
                }

                div.chat-box-picture
                {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 12px;

                    img
                    {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                div.chat-box-informations
                {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 8px;
                    width: 100%;
                    height: 100%;

                    div.chat-box-informations-name
                    {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 8px;
                        width: fit-content;
                        height: 100%;

                        h2
                        {
                            color: rgba(248, 250, 252, 1);
                            font-size: 14px;
                            line-height: 20px;
                            margin: 0;
                            font-family: "Roboto", sans-serif;
                            text-decoration: none;
                        }

                        p.date
                        {
                            color: rgba(148, 163, 184, 1);
                            font-size: 12px;
                            line-height: 16px;
                            margin: 0;
                            font-family: "Roboto", sans-serif;
                            text-decoration: none;
                        }
                    }

                    div.chat-box-informations-message
                    {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0px;

                        p
                        {
                            color: rgba(148, 163, 184, 1);
                            font-size: 14px;
                            line-height: 20px;
                            margin: 0;
                            font-family: "Roboto", sans-serif;
                            text-decoration: none;
                            padding: 9px 17px;
                            border-radius: 16px;
                            border: solid 1px rgba(34, 47, 68, 0.5);
                            width: fit-content;
                        }

                        button.delete
                        {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            background: transparent;
                            border: none;
                            color: rgba(248, 250, 252, 1);
                            padding: 12px;
                            border-radius: 16px;
                            margin-left: auto;

                            svg
                            {
                                width: 16px;
                                height: 16px;
                                color: rgba(248, 250, 252, 1);
                            }

                            &:hover
                            {
                                color: rgba(7, 182, 213, 1);
                            }
                        }
                    }

                    div.chat-box-informations-status
                    {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        margin-top: 4px;

                        .read-status
                        {
                            font-size: 12px;
                            font-family: "Roboto", sans-serif;

                            &.sent
                            {
                                color: rgba(148, 163, 184, 1);
                            }

                            &.read
                            {
                                color: rgba(7, 182, 213, 1);
                            }
                        }
                    }
                }

                &.active
                {
                    align-self: end;

                    div.chat-box-picture
                    {
                        order: 2;
                    }

                    div.chat-box-informations
                    {
                        order: 1;

                        div.chat-box-informations-name
                        {
                            align-self: end;

                            h2
                            {
                                order: 2;
                            }

                            p.date
                            {
                                order: 1;
                            }
                        }

                        div.chat-box-informations-message
                        {
                            align-self: end;

                            p
                            {
                                color: rgba(15, 23, 41, 1);
                                background: rgba(7, 182, 213, 1);
                                border: none;
                            }
                        }

                        div.chat-box-informations-status
                        {
                            align-self: end;
                        }
                    }
                }
            }
        }
    }

    footer
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        width: 100%;
        height: auto;
        max-height: 400px;
        padding: 16px;
        border-top: solid 1px rgba(34, 47, 68, 1);
        box-sizing: border-box;

        form
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;
            width: 100%;
            height: 100%;

            button
            {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background: transparent;
                border: none;
                color: rgba(248, 250, 252, 1);
                padding: 12px;
                border-radius: 14px;

                svg
                {
                    width: 16px;
                    height: 16px;
                    color: rgba(248, 250, 252, 1);
                }

                &:hover
                {
                    background: rgba(249, 78, 180, 0.1);
                    
                    svg
                    {
                        color: rgba(249, 78, 180, 1);
                    }
                }
            }

            textarea
            {
                font-size: 14px;
                padding: 10px 13px;
                max-height: 90%;
                min-height: 40px;
                width: 100%;
                resize: vertical;
                border-radius: 14px;
                border: 1px solid rgba(34, 47, 68, 1);
                color: rgba(148, 163, 184, 1);
                background: rgba(29, 40, 58, 0.5);
                box-sizing: border-box;
                overflow-y: auto;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            button[type="submit"]
            {
                background: linear-gradient(
                    120deg,
                    vars.$linear-text-color-start,
                    vars.$linear-text-color-middle
                );
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border: none;
                color: rgba(248, 250, 252, 1);
                padding: 12px;
                border-radius: 14px;

                svg
                {
                    width: 16px;
                    height: 16px;
                    color: rgba(15, 23, 41, 1);
                }
            }
        }
    }
}

section.settings
{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    width: 500px;
    height: 100vh;
    max-width: 90%;
    box-sizing: border-box;
    padding: 32px 24px;

    a.back
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
        color: rgba(248, 250, 252, 1);
        border-radius: 16px;
        text-decoration: none;
        font-size: 14px;
        margin: 0;
        font-family: "Roboto", sans-serif;
        font-weight: bold;

        &:hover
        {
            color: rgba(7, 182, 213, 1);
        }
    }

    h1
    {
        color: rgba(248, 250, 252, 1);
        font-size: 24px;
        line-height: 32px;
        margin: 0;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
    }

    h2
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        color: rgba(248, 250, 252, 1);
        font-size: 18px;
        line-height: 28px;
        margin: 0;
        font-family: "Roboto", sans-serif;
        text-decoration: none;

        svg
        {
            width: 24px;
            height: 24px;
            color: rgba(7, 182, 213, 1);
        }
    }

    form
    {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 24px;
        width: 100%;

        div.form-row
        {
            display: flex;
            flex-direction: row;
            gap: 12px;
            width: 100%;

            div.form-group
            {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 4px;
                width: 100%;
                flex: 1;
    
                label
                {
                    color: rgba(148, 163, 184, 1);
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0;
                    font-family: "Roboto", sans-serif;
                    text-decoration: none;
                }
    
                input
                {
                    font-size: 14px;
                    padding: 10px 13px;
                    width: 100%;
                    border-radius: 14px;
                    border: 1px solid rgba(34, 47, 68, 1);
                    color: rgba(148, 163, 184, 1);
                    background: rgba(29, 40, 58, 0.5);
                    box-sizing: border-box;
                }
            }
        }

        button
        {
            background: linear-gradient(
                to right,
                vars.$linear-text-color-start,
                vars.$linear-text-color-middle,
            );
            color: rgba(248, 250, 252, 1);
            font-size: 16px;
            font-weight: bold;
            margin: 0;
            font-family: "Roboto", sans-serif;
            text-decoration: none;
            border: none;
            border-radius: 16px;
            padding: 10px 20px;
        }
    }

    div.links
    {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;

        a
        {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background: transparent;
            border: none;
            color: rgba(248, 250, 252, 1);
            padding: 12px;
            border-radius: 16px;
            text-decoration: none;
            font-size: 14px;
            margin: 0;
            font-family: "Roboto", sans-serif;
            font-weight: bold;

            &.info
            {
                background: rgba(59, 130, 246, 0.699);
            }

            &.danger
            {
                background: rgb(239, 67, 67);
            }
        }
    }
}